<h1>Modification ou ajout d'un role</h1>

      <form  (ngSubmit)="inserer()"  class="form-group mx-sm-3 mb-2">

        Nom : <input type="text" name="nom" [(ngModel)]="roleFormulaire.nom">
        <button type="submit" class="btn btn-info">Ajouter</button>
    </form>
    <hr>


<h4>Liste des Roles dans la base de donnée</h4>
<table class="table">
        <thead class="thead-light">
          <tr>
            <td scope="col">Id</td>
            <td scope="col">Nom</td>
            <td scope="col">Modifier</td>
            <td scope="col">Supprimer</td>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles">
                <td>{{role.id}}</td>
                <td>{{role.nom}}</td>         
                <td><button (click)="modifier(role.id)" class="btn btn-warning">Modifier</button></td>
                <td><button (click)="enlever(role.id)" class="btn btn-danger">Supprimer</button></td>
            </tr>
        </tbody>
      </table>
      <hr>
      <br>

      

