
<form (ngSubmit)="inserer()">
    Date:<input type="datetime-local" name="date" [(ngModel)]="rdvFormulaire.date"><br> 
    Personne:
    <select name="idpersonne" [(ngModel)]="idpersonne">
        <option *ngFor="let personne of personnes" value="{{personne.id}}">{{personne.nom}} {{personne.prenom}}</option>
    </select> <br>
    Commercial:
    <select name="idcommercial" [(ngModel)]="idcommercial">
        <option *ngFor="let commercial of commercials" value="{{commercial.id}}">{{commercial.nom}} {{commercial.prenom}}</option>
    </select> <br>

<button type="submit">Ajouter</button>
</form>

<table class="table table-striped table-bordered text-center">
    <tr>
        <td>Id</td>
        <td>Date du Rendez-vous</td>
        <td>Personne</td>
        <td>Commercial</td>
        <td>Modifier</td>
        <td>Supprimer</td>

    </tr>
    <tr *ngFor="let rdv of rdvs">
        <td>{{rdv.id}}</td>
        <td >{{rdv.date | date: 'dd/MM/yyyy,HH:mm' }}</td>
        <td>{{rdv.personne.nom}} {{rdv.personne.prenom}}</td>
        <td >{{rdv.commercial.nom}} {{rdv.commercial.prenom}}</td>
        <td><button class="btn btn-warning" (click)="modifier(rdv.id)">Modifier</button></td>
        <td><button class="btn btn-danger" (click)="enlever(rdv.id)">Supprimer</button></td>
       
    
    </tr>

</table>





